body {
    margin: 0;
    padding: 0;
    height: 100%;
}
/* ********cat screen******** */
#catScreen {
    display: none;
    align-items: center;
    /* justify-content: center;
    background: rgb(239,203,242);
    background: -moz-radial-gradient(circle, rgba(239,203,242,0) 50%, rgba(255,200,244,1) 90%);
    background: -webkit-radial-gradient(circle, rgba(239,203,242,0) 50%, rgba(255,200,244,1) 90%);
    background: radial-gradient(circle, rgba(239,203,242,0) 50%, rgba(255,200,244,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efcbf2",endColorstr="#ffc8f4",GradientType=1); */
    background-color: #925ecbd6;
}
#cat {
    width: min(100vw, 1000px);
    height: 100vh;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
#transitionBg {
    background-color: white;
    width: 100vw;
    height: 100vh;
    transition: background-color 10s;
    position: absolute;
}
#pinkGradient {
    background-color: #925ecbd6;
    background-color: #ad57e3cc;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgb(172,76,233);
    background: -moz-radial-gradient(circle, rgba(172,76,233,0) 37%, rgb(226 149 245) 70%);
    background: -webkit-radial-gradient(circle, rgba(172,76,233,0) 37%, rgb(226 149 245) 70%);
    background: radial-gradient(circle, rgba(172,76,233,0) 37%, rgb(226 149 245) 70%);
    /* background: radial-gradient(circle, rgba(172,76,233,0) 37%, rgb(149, 245, 192) 70%); */
    /* background: radial-gradient(circle, rgb(213 102 239 / 8%) 41%, rgb(221 149 245) 67%); */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ac4ce9",endColorstr="#ac4ce9",GradientType=1); */
    animation: animatedGradient 3s ease infinite;
    transition: background-size 3s;
}
/*  */
#catBg {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* background-color: #eeb9ff; */
    background-color: #eeb9ffd6;
    /* width: 75vw; */
    width: 100vw;
    /* height: 75vh; */
    height: 100vh;
    /* border-radius: 25px; */
    /* background-image: url(./images/mwah\(hollow_bold\).png); */
    background-image: url(./images/blackHeart.png);
    background-repeat: repeat;
    /* background-size: 287px; */
    /* background-size: 280px; */
    /* background-size: 400px; */
    /* background-position: center; */
    background-size: 274px;
    background-position: 0 -8%;
    animation: animatedBackground 3s linear infinite alternate;
    filter: blur(3px);
}
/* ********hearts screen******** */
#screenFilledWithHearts {
    display: none;
    width: 100vw;
    height: 100vh;
    /* filter: blur(0px); */
    /* animation-name: blurHeartsTransition; */
    /* animation-duration: 8s;   */
    /* animation-fill-mode: forwards; */
    /* animation-delay: .5s; */
}
#container {
    display: none;
    width: 100vw;
    height: 100vh;
    filter: blur(0px);
    animation-name: blurHeartsTransition;
    animation-duration: 8s;  
    animation-fill-mode: forwards;
    animation-delay: .5s;
    position: absolute;
}
#screenFilledWithHearts1 {
    /* background-color: white; */
    width: 100vw;
    height: 100vh;
    background-image: url(./images/bg\(v3White\).png);
    /* transition: background-position 800ms; */
    position: absolute;
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: 51% -731%;
    /* background-position: 65% -12%; */
    /* animation: heartsTransition1 800ms; */
    animation-name: heartsTransition1;
    animation-duration: 800ms;  
    animation-fill-mode: forwards;
    animation-delay: .1s;
    /* filter: blur(5px); */
}
#screenFilledWithHearts2 {
    /* background-color: white; */
    width: 100vw;
    height: 100vh;
    background-image: url(./images/bg\(v3White\).png);
    /* transition: background-position 800ms; */
    position: absolute;
    background-repeat: no-repeat;
    background-size: 120%;
    /* background-position: 34% -731%; */
    /* background-position: 34% 0%; */
    /* animation: heartsTransition2 800ms; */
    animation-name: heartsTransition2;
    animation-duration: 800ms;  
    animation-fill-mode: forwards;
    /* filter: blur(5px); */
}
#whiteBgForHearts {
    background-color: rgba(255, 255, 255, 0.068);
    width: 100vw;
    height: 100vh;
    animation-duration: 2000ms;  
    animation-fill-mode: forwards;
    /* animation-delay: .1s; */
    position: absolute;
    display: none;
}
/* ********button screen******** */
#buttonScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_coraz%C3%B3n.svg/800px-Heart_coraz%C3%B3n.svg.png); */
    /* background-image: url(./images/mwah\(hollow\).png); */
    /* background-repeat: repeat; */
    /* background-size: 15%; */
    position: absolute;
}
.transparentBg {
    /* background-color: #eeb9ffd6; */
    background-color: #925ecbd6;
    background-color: #ad57e3cc;
    width: 100vw;
    height: 100vh;
    position: absolute;
}
#buttonBg {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #eeb9ff; */
    background-color: #eeb9ffd6;
    /* width: 75vw; */
    width: 100vw;
    /* height: 75vh; */
    height: 100vh;
    /* border-radius: 25px; */
    /* background-image: url(./images/mwah\(hollow_bold\).png); */
    background-image: url(./images/mwah\(combined\)\ bold.png);
    background-repeat: repeat;
    /* background-size: 287px; */
    background-size: 280px;
    /* background-size: 400px; */
    background-position: center;
}
#buttonCircle {
    margin: 25% auto;
    width: 10em;
    height: 10em;
    background-color: #efdaff;
    cursor: pointer;
    border-radius: 55%;
    animation: pulse 2s infinite;
}
/* @keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #e5d1ff;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px #e5d1ff;
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #e5d1ff;
	}
} */
@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(229, 209, 255, 0.8);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(229, 209, 255, 0.8);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(229, 209, 255, 0.8);
	}
}
@keyframes animatedBackground {
    from {
      background-position: 0 -8;
    }
    to {
      background-position: 0 -10%;
    }
}
@keyframes animatedGradient {
    0% {
		/* transform: scale(0.95); */
		/* box-shadow: 0 0 0 0 rgba(229, 209, 255, 0.8); */
        /* background: radial-gradient(circle, rgba(172,76,233,0) 37%, rgb(226 149 245) 70%); */
        background-position: 37% 70%;
	}
	70% {
		/* transform: scale(0.95); */
		/* box-shadow: 0 0 0 0 rgba(229, 209, 255, 0.8); */
        /* background: radial-gradient(circle, rgba(172,76,233,0) 33%, rgb(226 149 245) 60%); */
        background-position: 33% 60%;
	}
    100% {
		/* transform: scale(0.95); */
		/* box-shadow: 0 0 0 0 rgba(229, 209, 255, 0.8); */
        /* background: radial-gradient(circle, rgba(172,76,233,0) 37%, rgb(226 149 245) 70%); */
        background-position: 37% 70%;
	}
}
@keyframes heartsTransition1 {
    from {
        background-position: 51% -731%;
    }
    to {
        background-position: 51% 25%;
    }
}
@keyframes heartsTransition2 {
    from {
        background-position: 34% -731%;
    }
    to {
        background-position: 34% 0%;
    }
}
@keyframes blurHeartsTransition {
    from {
        filter: blur(0px);
    }
    to {
        filter: blur(100px);
    }
}
@keyframes whiteTransitionFromHearts {
    from {
        /* background-color: rgba(255, 255, 255, 0); */
        background-color: rgba(255, 255, 255, 0.068);
    }
    to {
        background-color: rgb(255, 255, 255);
    }
}
#buttonCircle:active {
    background-color: #e5d1ff;
}
#buttonTriangle {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* hey, here's what's left
1) pulse to pinkGradient
2) heart transition {
    make a separete div for screenFilledWithHearts1 and screenFilledWithHearts2
    to add blur animation for them only and not for the white transition 
} */